a:link {color: #00033a; text-decoration: underline; }
a:active {color: #00033a; text-decoration: underline; }
a:visited {color: #00033a; text-decoration: underline; }
a:hover {color: #A38A5D; text-decoration: none; }

@media screen and (max-width:480px) {
	#address1 {
		position: center;
		text-align: center;
		margin-top: -1px;
	}
	#address2 {
		font-size: 14px;
	}
	#reserve {
		font-size: 14px;
		text-align: center;
	}
	#details {
		font-size: 14px;
	}
	#menus {
		font-size: 14px;
		margin-left: 5px;
	}
	#reviews {
		font-size: 14px;
		margin-left: 15px;
	}
	#phone a:link {
	color: rgb(89, 31, 34);
	text-decoration: none;
	font-size: .9em;
}
}

#chef {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#purveyors {
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#address1 {
	margin-left: 10px;
	text-align: center;
	float: left;
	margin-bottom: 30px;
}

#address {
	margin-left: 10px;
	text-align: center;
	margin-bottom: 10px;
}

#address2 {
color: #591f22;
margin-top: 10px;
}

#phone {
color: #591f22;
font-size: 1.5em;
}



#header {
	font-size: 20px;
	color: #591f22;
	font-size: 1.2em;
	text-align: center;
	margin-top: 50px;
}

#headerleft {
	color: #591f22;
	font-size: 40px;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 20px;
}


.logo {
	padding-bottom: 15px;
	margin-left: 10px;
}

.logomobile {
	padding-bottom: 15px;
	margin-left: 40px;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
	margin-right: 5px;
	text-transform: uppercase;
}


html,body {
	height: 100%;
	font: 17px/22px Buenard, Georgia, serif;
}

strong {
	font-weight: bold;
}

body {
	background: #FFF7DA;
}

/*background: #DDD7BD;*/
/*background: #FFF7DA;*/

p {
	margin-bottom: 7px;
	color: black;
	font-size: 1.0em;
	margin-left: 30px;
	margin-right: 40px;
	margin-top: 10px;
	text-align: left;
}


#header span {
	margin-top: 90px;
	margin-left: -15px;
}

#imgs {
	margin-top: 70px;
	position: relative;
	margin-bottom: 50px;
	height: 300px;
	position: relative;
}
#imgs li {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.details {
max-width: 190px;
max-height: 200px;
margin-right: 30px;
float: right;
}



#reserve {
	text-align: center;
	position: relative;
	font-size: 1.6em;
	margin-left: 10px;
}

#reviews {
	text-align: center;
	position: relative;
	margin-left: 2px;
	margin-top: 5px;
	margin-bottom: 30px;
}


#menus {
	margin-top: 10px;
	position: relative;
}

ol {
	color: #591f22;
	font-size: 1.2em;
	margin-top: 20px;
	margin-left: 110px;
}


blockquote {
	color: black;
	font-size: 1.0em;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 30px;
}

.bqstart {
     float: left;
     font-size: 400%;
     color: #591f22;
 }


 .bqend {
     font-size: 400%;
     color: #591f22;
     position: absolute;
     margin-left: 5px;
     margin-top: 20px;
 }


h2 {
	color: #591f22;
	font-size: 1.4em;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}

#map {
	margin-left: 45px;
	position: relative;
	margin-bottom: 30px;
}

#reserveaddress {
	position: relative;
	margin-left: 30px;
}

.opentable {
position: relative;
margin-top: 30px;
margin-left: 80px;
text-align: center;
}

#contact {
position: relative;
top: 90px;
text-align: center;
}

#hours {
position: relative;
padding-top: 10px;
padding-bottom: 5px;
margin-left: 90px;
}






/*Details about the resturant such as hours open and contact info*/
/*.details {
position: relative;
top: 137px;
left: 200px;
text-align: left;
}
*/
/*A hack to force Helvetica to ensure Make a Reservation doesn't run into the box lines*/
/*.OT_title {
	font-family: "Helvetica";
}*/

/*
.heading{
	position: relative;
	color: #591f22;
	font-size: 2.2em;
	top: -10px;
	left: -30px;
}
*/
/*
@media screen and (max-width:480px) {
	#box {
		position: relative;
		background: none;
	}
}

*/

/*#box ul {
	margin-bottom: 15px;
}
#box ul img {
 	margin-top: 15px;
}*/
/*
.address {
position: relative;
top: 30px;
left: 0px;
right: 0;
bottom: 0;
color: #562022;
}

.name {
position: relative;
top: 50px;
left: 50px;
right: 0;
bottom: 0;
}*/

/*Do we need this?*/

/*@media screen and (max-width:480px) {

	#bkg-imgs {
		display: none;
	}

	.divider {
		display: block;
		height: 100px;
		margin: 15px -25px;
		background-repeat: no-repeat;
		background-position: center center;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}*/

/* Old Code */


/*.heading2{
	position: relative;
	color: #591f22;
	font-size: 1.2em;
	top: -10px;
}
*/


/*.imgs {
	position: relative;
	width: 100%;
	top: 90px;
	right: 0;
	bottom: 0;
	z-index: -50000;
	text-align: right;
}*/

/*
#map {
	position: relative;
	top: 200px;
}
*/

/*
#bkg-imgs {
	display: block;
}*/


/*#bkg-imgs li {
	position: static;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/*.divider {
	display: none;
	height: 0;
}
*/





